<footer class="container-fluid bg-dark text-light fixed-bottom">
<div class="row">
  <div class="col-md">
    <h2 class="text-center">Footer Column 1</h2>
    <p>Footer column text goes here.</p>
  </div>
  <div class="col-md">
    <h2 class="text-center">Footer Column 2</h2>
    <p>Footer column text goes here.</p>
  </div>
  <div class="col-md">
    <h2 class="text-center">Footer Column 3</h2>
    <p>Footer column text goes here.</p>
  </div>
</div>
<div class="row text-center">
  <p>Made with ❤️ by Katie, Shen, and JC</p>
</div>
</footer>
