<footer class="container-fluid bg-dark text-light pt-3">
<div class="row">
  <div class="col-md">
    <h5 class="text-center">Bibliophile - a book app with love</h5>
    <p class="text-left">Books are lovely things- and what better way to find a new book, than through a fun, whimsical book-date?</p>
  </div>
  <div class="col-md">
    <h5 class="text-center">Links</h5>
    <p class="text-left">Additional resources for book lovers and readers from around the world!</p>
    <ul>
      <li><a href="https://books.google.com/">Google Books</a></li>
    </ul>
  </div>
  <div class="col-md">
    <h5 class="text-center">Contact Us</h5>
    <p class="text-left">Need help? Have Feedback? Come drop us a letter! We're always happy to chat with fellow book lovers!</p>
    <p><a href="mailto:bibliophile@example.com">Send Email</a></p>
  </div>
</div>
<div class="row text-center">
  <p class="text-muted">Made with ❤️ by Katie, Shen, and JC</p>
</div>
<script src="/script/scripts.js"></script>
</footer>
