<h2 class="text-center">Sign in</h2>
<p>Welcome back! Sign in to see your matches and wishlist.</p>
<form method="post" action="/login">
    <div class="mb-3">
        <label for="loginUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="loginUsername">
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="rememberLogin">
        <label class="form-check-label" for="rememberLogin">Remember me</label>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
