<h2 class="text-center">Register Now</h2>
<p>Don't have an account? No worries! Register your very own Books with Benefits account today!</p>
<form method="post" action="/register/new-user">
    <div class="mb-3">
        <label for="registerUsername" class="form-label">Username</label>
        <input type="text" class="form-control" name="registerUsername">
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="password" class="form-control" name="registerPassword">
    </div>
    <div class="mb-3">
        <label for="registerPasswordConfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="registerPasswordConfirm">
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
