<!doctype html>
<html>
   <head>
      <title>The Food App - Who are we?</title>
      <!--basic CSS style page-->
      <link rel="stylesheet" href="views/style.css">
   </head>
   <body>
      <!--page specific container for CSS-->
      <div id="aboutPage">
          <!--bold splash title-->
         <h1> ABOUT US</h1>
         <!--navbar kept the same through all pages-->
         <nav>
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/search">Search Foods</a></li>
               <li><a href="/add">Add Food</a></li>
               <li><a href="/update">Update Food</a></li>
               <li><a href="/recipe">Create Recipe</a></li>
            </ul>
         </nav>
         <!--Text section for the about page-->
         <section class="aboutMe">
            <p> 
               This web application was created by Katherine Lambert for the UOL course databases, networks and the web.<br><br>
               I wanted to produce it with a bold simple style that aligns with many existing health apps out there. I used a data visualisation
               colour palette picker to set a colour scheme with high contrast for accessibility.<br><br>
               When designing this app it was important to make navigation intuitive and logical for the end user.<br>
               It has been built using ejs, express and mysql. 
               <br><br>
               The mysql database contains a single table which contains a basic dataset from myfooddata.com of around 1000 items.<br><br>
            </p>
         </section>
      </div>
   </body>
</html>
