<!DOCTYPE html>
<html lang="en">
    <%-include('partials/header') %>
    <body>
        <%-include('partials/navbar') %>
        <main class="container">
          <div class="row">
            <div class="col">
              <h1>Welcome to Bibliophile</h1>
              <p>Find new books. By Going on book-dates</p>
            </div>
          </div>
        </main>
        <%-include('partials/footer') %>
    </body>
</html>
