<!doctype html>
<html>
    <head>
        <title>The Food App - where would you like to go?</title>
        <link rel="stylesheet" href="/views/style.css">
    </head>

    <body>
        <div id="linkTree"><!--page specific container for CSS-->
            <h1> THE FOOD APP</h1><br>
            <!--link tree for each of the pages, as there is no clear home page to nav from-->
            <a href='/about'>&#8680 ABOUT US</a><br>
            <a href='/search'>&#8680 SEARCH FOODS</a><br>
            <a href='/add'>&#8680 ADD FOOD</a><br>
            <a href='/update'>&#8680 UPDATE FOODS</a><br>
            <a href='/recipe'>&#8680 CREATE RECIPE</a>
        </div>
    </body>
</html>
