<!doctype html>
<html>
   <head>
      <!--this is a message page, the total and text is designed to be used by multiple pages-->
      <title>The Food App - We have a message</title>
      <link rel="stylesheet" href="/views/style.css">
   </head>
   <body>
      <div class="message">
         <!---placeholder to produce title-->
         <h1><%= message.title %></h1>
         <nav>
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/search">Search Foods</a></li>
               <li><a href="/add">Add Food</a></li>
               <li><a href="/update">Update Food</a></li>
               <li><a href="/recipe">Create Recipe</a></li>
            </ul>
         </nav>
         <section id = "message">
             <!--placeholder to enter a user message-->
            <p><%= message.body %></p>
            <br>
         </section>
      </div>
   </body>
</html>
