<!doctype html>
<html>
   <head>
      <title>The Food App - Time to build your own recipe</title>

      <!--basic CSS style page-->
      <link rel="stylesheet" href="views/style.css">
      <!--additional JS scripts-->
      <script src="js/jsAdditional.js"></script>
   </head>
   <body>
    <!--page specific container for CSS-->
      <div class="createRecipe">
         <h1> BUILD A RECIPE </h1>
         <!--navbar kept the same through all pages-->
         <nav>
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/search">Search Foods</a></li>
               <li><a href="/add">Add Food</a></li>
               <li><a href="/update">Update Food</a></li>
               <li><a href="/recipe">Create Recipe</a></li>
            </ul>
         </nav>
         <!--main page section, displays all foods-->
         <section class = "allFoods">
            <p>Use the checkboxes to select which items you want to add to your recipe. When you have the items 
               you want, select update to update the table below.<br>
               <b>NOTE:</b> As it is not a requirement no submit button has been provided to add to database
            </p>

            <!--basic form with submit button to add up selected items-->
            <form name="getIngredients" onsubmit ="build_recipe();return false">
               <input id="search-button" type="submit" value="Update" ><br><br>
            </form>

            <!--This is the top table for storing the info related to the new recipe-->
            <table>
               <col style="width:30%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:7%">
               <col style="width:20%">
               <tr>
                  <th>Name</th>
                  <th>Calories</th>
                  <th>Fat (g)</th>
                  <th>Prot (g)</th>
                  <th>Carbs (g)</th>
                  <th>Sugar (g)</th>
                  <th>Fibre (g)</th>
                  <th>SatFat (g)</th>
                  <th>Salt (mg)</th>
                  <th>Serving Description </th>
               </tr>
               <tr>
                  <td id ="rowName"><input id="nameInput" class ="recipeName" type="text" name="name" step="any" value="" /></td>
                  <td id ="rowCalories"></td>
                  <td id ="rowFat"></td>
                  <td id ="rowProt"></td>
                  <td id ="rowCarbs"></td>
                  <td id ="rowSugar"></td>
                  <td id ="rowFibre"></td>
                  <td id ="rowSatFat"></td>
                  <td id="rowSalt"></td>
                  <td id="rowServeDesc"><input id="descInput" class ="recipeName" type="text" name="name" step="any" value="" /></td>
               </tr>
            </table>
         </section>

         <!--next table loops through query to produce a table of all database items-->
         <p>There are a total of <%= data.availableFoods.length %> items in the database. Select what you
            want to add to your recipe.
         </p>
         <table id = "allAvailableFoods">
            <col style="width:3%">
            <col style="width:4%">
            <col style="width:25%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:20%">
            <tr>
               <th>Select</th>
               <th>Qty</th>
               <th>Name</th>
               <th>Calories</th>
               <th>Fat (g)</th>
               <th>Prot (g)</th>
               <th>Carbs (g)</th>
               <th>Sugar (g)</th>
               <th>Fibre (g)</th>
               <th>SatFat (g)</th>
               <th>Salt (mg)</th>
               <th>Serving Description </th>
            </tr>
            <% data.availableFoods.forEach(function(food){ %>
            <tr>
               <td id="selectCol"><input type="checkbox" name="<%= food.id %>"></td>
               <td><input type="number" min="0" id="foodqty" name = "foodqty" value = 1></td>
               <td><%= food.name %></td>
               <td><%= food.calories %></td>
               <td><%= food.fat_g %></td>
               <td><%= food.proteins_g %></td>
               <td><%= food.carbohydrates_g %></td>
               <td><%= food.sugars_g %></td>
               <td><%= food.fibre_g %></td>
               <td><%= food.sat_fats_g %></td>
               <td><%= food.sodium_mg %></td>
               <td><%= food.serve_description %> </td>
            </tr>
            <% }) %>
         </table>
         </section>
      </div>
   </body>
</html>
