@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&family=Open+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#indexPage {
    background-color: #003f5c;
    height: 2000px;
    color: white; 
    padding: 50px;
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
}

#indexPage a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

#indexPage a:hover {
    background-color: #ef5675;
  }

  
#linkTree {
    background-color: #374C80;
    height: 2000px;
    color: white; 
    padding: 50px;
}

#linkTree a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

#linkTree a:hover {
    background-color: #ffa600;
  }


#aboutPage {
    background-color: #7a5195;
    height: 2000px;
    color: white; 
    padding: 50px;
}

#aboutPage a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

nav a:hover {
    background-color: #ff764a;
  }

#aboutPage .aboutMe{
    width:1000px;
    padding-top:20px;
}

#aboutPage p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding:10px;  
}

td
{
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    color: #003f5c;
    background-color:white;
    text-align:left;
}

th
{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color: white;
    background-color:#003f5c;
    text-align:center;
    padding:5px;
}

.searchPage {
    background-color: #bc5090;
    min-height: 2000px;
    color: white; 
    padding: 50px;
}

.searchPage a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

nav a:hover {
    background-color: #ffa600;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:1000px;
    background-color: #003f5c;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.searchPage .searchSection {
    padding-top: 30px;
    width: 1000px;
    text-align:center;
}

.searchPage p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 30px;
}

#search-box
{
    height:30px;
    font-family: 'Montserrat', sans-serif;
    width:400px;
    font-size:16px;
}

#search-button
{
    height:30px;
    font-family: 'Montserrat', sans-serif;
    width:100px;
    font-size:16px;
}

.addFood {
    background-color: #ef5675;
    height: 2000px;
    color: white; 
    padding: 50px;
}

.addFood a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

.addFood p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top:20px;
    color:white;
}

.addFood label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top:20px;
    color:white;
}

.addFood #addSection a:hover {
    background-color: #7a5195;
  }

.addFoodForm
  {
      height:30px;
      font-family: 'Montserrat', sans-serif;
      width:400px;
      font-size:16px;
  }
  
#addFoodButton
  {
      height:30px;
      font-family: 'Montserrat', sans-serif;
      width:100px;
      font-size:16px;
  }

  #addSection {
      width:1000px;
      text-align:center;
  }

  #addSection input {
    text-align:center;
}

.update-result, #searchSection {
    width: 1000px;
    font-family: 'Montserrat', sans-serif;
}

.updatePage #foodUpdate ul{
    text-decoration:none;
    list-style-type: none;
    padding-left: 20px;
}

.updatePage #foodUpdate ul li{
    padding: 5px;
}

#update-records, #delete-records, #updateFood{
    height:30px;
    font-family: 'Montserrat', sans-serif;
    width:120px;
    font-size:16px;
    margin:20px;
}

.updatePage {
    background-color: #ff764a;
    height: 2000px;
    color: white; 
    padding: 50px;
}

.updatePage a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

.updatePage p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding:20px;
    color:white;
}

.updatePage label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top:20px;
    color:white;
}

.updatePage .searchSection {
    padding-top: 30px;
    width: 1000px;
    text-align:center;
}

.createRecipe {
    background-color: #ffa600;
    min-height: 2000px;
    width:100%;
    color: white; 
    padding: 50px;
}

.createRecipe a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

.createRecipe p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding:20px;
    color:white;
}

.allFoods {
    padding-top: 30px;
    width: 1000px;
    text-align:center;
}

#selectCol {
    text-align:center;
}

table {
    width: 1000px;
}

#nameInput, #descInput, #foodqty {
    width:100%;
    height: 100%;
    background-color: lightgray;
}

.message {
    background-color: #2f4b7c;
    min-height: 2000px;
    width:100%;
    color: white; 
    padding: 50px;
}

.message a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border:20px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

.message p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding:20px;
    color:white;
}

#updateSection{
    width: 1000px;
    text-align: center;
}
