@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#indexPage {
    background-color: #003f5c;
    height: 2000px;
    color: white; 
    padding: 50px;
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
}

#indexPage a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color:white;
}

#indexPage a:hover {
    background-color: #ef5675;
  }