<!DOCTYPE html>
<html lang="en">
   <%-include('partials/header') %>
   <body>
      <%-include('partials/navbar') %>
      <div class ="container p-3">
         <h1>Wishlist - Books you have liked</h1>
         <!-- Start of the first book details -->
         <div class = "row h-100 p-3 justify-content-center align-items-center">
            <div class="col-xs-12 col-lg-3">
               <img src ="https://ia800606.us.archive.org/view_archive.php?archive=/32/items/olcovers642/olcovers642-M.zip&file=6429406-M.jpg" class="mx-auto d-block">
            </div>
            <div class ="col-xs-0 col-lg-9">
               <div class = "p-3">
                  <h2>
                  Very enticing Novel <small class="text-muted">By Ms Writes Alot</small></h1>
                  <p>"A group of old men overcome racial differences to take on the world’s most powerful jeweler."</p>
                  <p class="text-info">Adventure, Horror, Action</p>
                  <button type="button" class="btn btn-outline-success" onclick = "modalpopup('Very Enticing Novel');">Mark as Read</button>
                  <button type="button" class="btn btn-outline-warning">Remove Book</button>
               </div>
            </div>
         </div>
         <!-- Start of the second book details -->
         <div class = "row h-100 p-3 justify-content-center align-items-center">
            <div class="col-xs-12 col-lg-3">
               <img src ="https://ia800606.us.archive.org/view_archive.php?archive=/32/items/olcovers642/olcovers642-M.zip&file=6429606-M.jpg" class="mx-auto d-block">
            </div>
            <div class ="col-xs-0 col-lg-9">
               <div class = "p-3">
                  <h2>
                  Very Thrilling Novel <small class="text-muted">By Ms Writes Alot</small></h1>
                  <p>"A group of old men overcome racial differences to take on the world’s most powerful jeweler."</p>
                  <p class="text-info">Adventure, Horror, Action</p>
                  <button type="button" class="btn btn-outline-success" onclick = "modalpopup('Very Thrilling Novel');">Mark as Read</button>
                  <button type="button" class="btn btn-outline-warning">Remove Book</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Start of the modal div -->
      <div class="modal justify-content-center align-items-center" tabindex="-1" role="dialog" id="one-liner-entry">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-light">
               <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white">Would you like to add a one liner?</h5>
               </div>
               <div class = "modal-sub-header">
                  <h6 id="modal-book-title" class = "text-muted p-3"></h6>
               </div>
               <form>
                  <div class="modal-body">
                     <input type="text" class="form-control" placeholder="Enter one liner here...">
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-outline-primary">Submit</button>
                     <button type="button" class="btn btn-outline-danger" id = "close-modal">Close</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <%-include('partials/footer') %>
   </body>
</html>
