<!DOCTYPE html>
<html lang="en">
    <%-include('header') %>
    <body>
        <%-include('navbar') %>
        <div class = "container row">
            <div class="col-xs-12 col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item active">Book 1</li>
                    <li class="list-group-item">Book 2</li>
                    <li class="list-group-item">Book 3</li>
                    <li class="list-group-item">Book 4</li>
                    <li class="list-group-item">Book 5</li>
                </ul>
            </div>
            <div class ="col-8 collapse d-lg-block">
                <div>
                    <div>Authoriship Info</div>
                    <div>Find Out More</div>
                </div>
                <div>Oneliner</div>
            </div>
        </div>
    </body>
</html>